header {
  height: 70px;
  background-color: var(--color-bg-secondary);
  color: var(--color-font-secondary);
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content-container img {
  width: 30px;
  height: 30px;
  margin-right: 160px;
}

.menu-item {
  margin-right: 20px;
  color: var( --color-font-secondary);
  font-size: 16px;
}

.menu-item:hover {
  color: var( --color-font-secondary);
}
